html {
	background: rgb(8,152,255);
	background: linear-gradient(90deg, rgba(8,152,255,1) 0%, rgba(2,2,187,1) 0%, rgba(120,154,255,1) 41%, rgba(0,212,255,1) 100%);
	/* background: linear-gradient(to right, rgb(20, 55, 118), #1f5aac); */
}


/* scrollbar
::-webkit-scrollbar {
	background: rgb(20, 55, 118);
	width: 12px;
}
::-webkit-scrollbar-thumb {
	background: linear-gradient(transparent, #30ff00);
	border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(transparent, #00c6ff);
} */


/* for when it is on a phone or width is below number*/
@media only screen and (max-width: 500px) {
	div {
		grid-template-columns: auto auto;
	}
}