html {
	background: linear-gradient(to right, rgb(20, 55, 118), #1f5aac);
}


/* scrollbar
::-webkit-scrollbar {
	background: rgb(20, 55, 118);
	width: 12px;
}
::-webkit-scrollbar-thumb {
	background: linear-gradient(transparent, #30ff00);
	border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(transparent, #00c6ff);
} */


/* for when it is on a phone or width is below number*/
@media only screen and (max-width: 500px) {
	div {
		grid-template-columns: auto auto;
	}
}